@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*Organized in alphabetical order */
/*Media Queries at the bottom of the page */

.align-left 
{
  float: left;
}

.align-right 
{
  float: right;
}

.bio, .bio-tablet, .bio-mobile
{
  font-size: 110%;
}
.blue
{
  color: #0e7594;
}

.btn-primary
{
  background-color: #0e7594 !important;
}

.carousel-caption 
{
  top: 0;
  color: black;
}

.carousel-item
{
    width:100%;
    max-height: 500px !important;
}
.footer
{
  
  font-family: "Montserrat",  sans-serif;
  color: #0e7594

}

.footer-links 
{
  list-style-type: none;

}

.footer-links li 
{
  display: inline;
  margin: 11px 20px 0px;
}

.footer-links li a 
{
  color: #6e52c2;
  font-size: 100%;
}

h1
{
  font-family: "Oswald",  sans-serif;
  font-size:  400%;
}

h2{
  
  font-family: "Oswald",  sans-serif;
  font-size: 300%;
  color: #0e7594

}

h4
{
  font-family: "Oswald",  sans-serif;
  font-size: 200%;
  color: #6e52c2;

}

.image_responsive
{
  max-height: 70%;
}

.index_pic 
{
  max-width: 40%;
}
#inputMessage
{
  height: 200px;
}

#logo
{
  width: 50px;
  height: 50px;
}

.main 
{
  padding-left: 2%;
  padding-right: 2%;
}

.navbar-custom
{
  background-color: #6e52c2;
  color: white;
}
.navbar-header
{
  font-family: "Montserrat", sans-serif !important;
  
}

.nav-link 
{
  color: white !important;
  font-family: "Montserrat", sans-serif !important;

}

p, .form-group
{
  font-family: 'Quicksand', sans-serif;
  font-size:  125%;

}

.programImage 
{
  border-radius: 25px;
}

.purple
{
  color: #6e52c2;
}

.quote
{
  font-size: 125%;
  color: #6e52c2;

}

.service
{
  font-size: 110%;
}
.sidebar 
{
  height: 15vh; 
  border-radius: 25px;
  min-height: 550px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  /* border-left: #0e7594 solid 2px;*/
  padding-top: 1%;
  background: #e9ebee;
  right: 1%;
}

#sidebar_image
{
  max-height: 200px !important;
  display: inline;
  
  
}

td
{
  font-family: 'Quicksand', sans-serif;
  font-size:  125%;
  border-bottom: 2px solid #0e7594;
}
.text-left
{
  left: 30;
}

.titlename
{
  font-size: 125%;
  color: #0e7594;
  margin: 0;
  padding: 0;
}

/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .bio, .bio-tablet
  {
    display:none;
  }
  .index_pic 
  {
  max-width: 50%;
  }
  .sidebar 
  {
    border-left: none;
  }
  

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
  .bio, .bio-mobile
  {
    display:none;
  }
  .sidebar 
  {
    border-left: none;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) 
{
  .bio-mobile, .bio-tablet
  {
    display:none;
  }

}













